<span 
  contenteditable 
  data-action="blur->moirai-translation#submit click->moirai-translation#click"
  style="border: 1px dashed #1d9f74; min-width: 30px; display: inline-block;" 
  data-moirai-translation-key-value="<%= key %>"
  data-moirai-translation-locale-value="<%= locale %>"
  data-controller="moirai-translation">
  <%= value.to_s.gsub("<", "&lt;").gsub(">", "&gt;").html_safe %>
</span>
