<span contenteditable data-moirai-translation-target="inlineTranslation" data-action="blur->moirai-translation#submit" style="border: 0px dashed white;" data-key="<%= key %>" data-file-path="<%= file_path %>" data-controller="moirai-translation">
  <%= value %>
</span>
