<span 
  contenteditable 
  data-action="blur->moirai-translation#submit click->moirai-translation#click" 
  style="border: 1px dashed #1d9f74; min-width: 30px; display: inline-block;" 
  data-key="<%= key %>" 
  data-file-path="<%= file_path %>" 
  data-controller="moirai-translation">
  <%= value %>
</span>
