<h1>Translation files</h1>

<% @files.each do |file| %>
  <article>
  <bold><%= link_to (file[:name]), moirai_translation_file_path(file[:id]) %></bold>

  <hr>

  <%= file[:path] %>
  </article>
<% end %>
