<h1>Translation files</h1>
<ul>
  <% @file_paths.each do |file| %>
    <% file_hash = Digest::SHA256.hexdigest(file) %>
    <li>
      <%= link_to (file), translation_file_path(file_hash) %>
    </li>
  <% end %>
</ul>
