<main>
  <h1>Translation files</h1>

<% if Moirai::PullRequestCreator.available? %>
  <%= button_to "Create or update PR", moirai_open_pr_path %>
<% else %>
  <p>PR creation is not available. Add the gem octokit to your gemfile to enable this feature</p>
<% end %>

  <% @files.each do |file| %>
    <article>
      <bold><%= link_to (file[:name]), moirai_translation_file_path(file[:id]) %></bold>

      <hr>

      <%= file[:path] %>
    </article>
  <% end %>
</main>
