name: Test & lint
on: [push]

env:
  RAILS_ENV: test
  TARGET_DB: sqlite
  PGHOST: localhost
  PGUSER: postgres
  MOIRAI_GITHUB_REPO_NAME: ${{ secrets.MOIRAI_GITHUB_REPO_NAME }}
  MOIRAI_GITHUB_ACCESS_TOKEN: ${{ secrets.MOIRAI_GITHUB_ACCESS_TOKEN }}
jobs:
  tests:
    name: Test
    
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: [3.3]
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      
      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3
      
      - name: Run tests
        run: bundle exec rails test

      - name: Run system tests
        run: bundle exec rails test:system

      - name: Archive logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test.log
          path: test/dummy/log/test.log
  lint:
    name: Lint
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      
      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3
      
      - name: Run linters
        run: bin/fastcheck
